@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Nabla&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:2rem;
    background: linear-gradient(180deg, #000000, #c20000,#5400c2);
    background-size: cover;
    min-height: 93.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    color: #000000;
    max-width: 250px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.card-body {
    margin-top: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Brush ScriptMT", "Comic Sans", cursive;
    font-style: italic;
}

.btn-submit {
    background-color: #c20000;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute; /* Para posicionar el botón en la esquina */
    top: 20px; /* Ajusta la posición vertical */
    left: 20px; /* Ajusta la posición horizontal */
}

.btn-submit:hover {
    opacity: 0.75;
}

.btn-regresar {
    background-color: #c20000;
    color: white;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: fixed; /* Fija el botón en la pantalla */
    top: 20px; /* Ajusta la posición vertical */
    left: 20px; /* Ajusta la posición horizontal */
    z-index: 9999; /* Asegura que el botón esté siempre por encima de otros elementos */
}

.btn-regresar:hover {
    opacity: 0.75;
}


/* Estilo de la página de detalles */
.details-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    gap: 5px;
}

.drink-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.drink-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.drink-title {
    font-size: 2.5rem;
    color:black;
    font-family: "Sansita Swashed", system-ui;
    font-style: normal;
}

.drink-info h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    color: #3d0476;
    font-family: Arial, Helvetica, sans-serif;
}

.drink-info p, .drink-info ul {
    
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

.drink-info ul {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    padding-left: 20px;
}

.ingredient-btn {
    background: linear-gradient(90deg, #cb0101,#bf4402);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 3px;
    
}

.ingredient-btn:hover {
    opacity: 0.8;
}

/* Estilos para la ventana modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /*esto permite ver el fondo*/
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 15px;
    line-height: 1.5;
}

.close {
    color: #898787;
    float: right; 
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black; 
    text-decoration: none;
    cursor: pointer; 
}

@media (max-width: 768px) {
    body {
        height: 96.7vh;
        margin: 1rem;
    }

    .card-container {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        max-width: 100%;
        padding: 10px;
    }

    .card-img {
        height: 150px;
    }

    .card-title {
        font-size: 1rem;
    }

    .details-container {
        padding: 1.5rem;
        margin: 1rem;
    }

    .drink-header {
        flex-direction: column;
        text-align: center;
    }

    .drink-title {
        font-size: 2rem;
    }

    .drink-image {
        width: 150px;
        height: 150px;
    }

    .drink-info h2 {
        font-size: 1.5rem;
    }

    .drink-info p,
    .drink-info ul {
        font-size: 1rem;
    }
}